@charset "UTF-8";
/**haigou_list.html**/
.haigou_title {
  color: red;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

.haigou_txt {
  text-align: center;
}

.haigou_menu {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: solid 1px black;
  width: 800px;
}

.haigou_box {
  border-collapse: collapse;
  max-height: 80px;
  width: 100%;
}

.menu_title_1 {
  box-sizing: border-box;
  border: solid 1px black;
  background-color: #fce562;
}

.menu_title_2 {
  box-sizing: border-box;
  border: solid 1px black;
  background-color: #fce562;
}

.menu_title_3 {
  box-sizing: border-box;
  border: solid 1px black;
  background-color: #fce562;
}

.menu_title_4 {
  box-sizing: border-box;
  border: solid 1px black;
  background-color: #fce562;
}

.menu_title_5 {
  box-sizing: border-box;
  border: solid 1px black;
  background-color: #fce562;
}

.menu_title_2 {
  color: red;
  font-size: 100%;
  font-weight: bold;
}

.haigou_menu_1 {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 0;
  min-height: 35px;
  text-align: center;
}

.haigou_menu_2 {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 0;
  min-height: 35px;
  text-align: center;
}

.haigou_menu_3 {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 0;
  min-height: 35px;
  text-align: center;
}

.haigou_menu_4 {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 0;
  min-height: 35px;
  text-align: center;
}

.haigou_menu_5 {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 0;
  min-height: 35px;
  text-align: center;
}

.haigou_menu_1 {
  background-color: #999999;
}

.haigou_menu_2 {
  background-color: white;
}

.haigou_menu_3, .haigou_menu_4 {
  background-color: #87CEEB;
}

.haigou_menu_3B, .haigou_menu_4B {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px black;
  margin: -1px 0;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
}

.haigou_menu_5 {
  background-color: white;
}

#haigou_rightmenu {
  font-size: 110%;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 25%;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; /* 丸みを持たせる */
  line-height: 200%; /* 行の高さ */
  right: 0%;
}

/**list2.html**/
body {
  background-color: #DEB887;
}

.haigou_txt ul {
  /* ulの黒点を中央に寄せる */
  list-style-position: inside;
}

.list2_monster_table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: solid 2px blue;
  color: black;
  font-size: 100%;
  font-weight: bold;
  border-collapse: collapse;
  width: 1200px;
  table-layout: fixed;
  /* 列幅を固定 */
  background-color: white;
}

.list2_monster_table td {
  box-sizing: border-box;
  border: solid 1px black;
  text-align: center;
  vertical-align: middle;
}

/* 画像と名前セル */
.list2_image_cell {
  height: 150px;
  width: 220px;
}
.list2_image_cell img {
  max-height: 130px;
}

.right-cell {
  box-sizing: border-box;
  border: solid 1px black;
  color: black;
  font-size: 100%;
  font-weight: bold;
}
.right-cell span {
  color: red;
}

/* 右側のセル */
.right-cell.floor {
  width: 147px;
}

.right-cell.location {
  width: 147px;
}

.right-cell.description-a {
  width: 343px;
  /* デフォルト25% */
}

.right-cell.description-b {
  width: 343px;
  /* 25% */
}

/* description_bがない場合、description_aを50%に */
.right-cell.description-a.expand {
  width: 686px;
  /* 50% */
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
  .monster-table {
    display: block;
    overflow-x: auto;
  }
}
.kinsoku {
  color: white;
  font-size: 60%;
  font-weight: bold;
}

/************************************/
/* フッター */
/************************************/
#footer {
  text-align: right;
}

#f_box {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

#f_t {
  color: red;
}

#f_box span {
  display: inline-flex;
  width: 120px;
}

/************************************/
/* マニュアル */
/************************************/
#manual_body {
  background-color: #99ffff;
}

.manual_frame {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f9e3b7;
  width: 800px;
}

.manual_inframe {
  margin: 10px;
  width: 800px;
}

.manual_title {
  text-align: center;
}

.manual_h {
  display: inline-block;
  background-color: #666666;
  color: #ffffff;
  width: 80%;
  font-size: 120%;
}

.manual_table {
  background-color: #cdefff;
  border-collapse: collapse;
  border: solid 1px;
  width: 200px;
}
.manual_table th, .manual_table td {
  border: solid 1px;
}

.manual_table2 {
  background-color: #cdefff;
  border-collapse: collapse;
  border: solid 1px;
  width: 100%;
}
.manual_table2 th, .manual_table2 td {
  border: solid 1px;
}

.manual_big_red {
  color: red;
  font-size: 130%;
}

.manual_big_blue {
  color: blue;
  font-size: 130%;
}

.manual_big_black {
  color: black;
  font-size: 120%;
  font-weight: bold;
}

.manual_red {
  color: red;
  font-weight: bold;
}

.manual_bule {
  color: blue;
  font-weight: bold;
}

.manual_syousai {
  background-color: #ccccff;
  width: 80%;
}

.manual_form {
  text-align: center;
}/*# sourceMappingURL=html_style.css.map */