<!-- templates/base_tmp.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <TITLE> MONSTER'S 改 {{ Conf.ver }}</TITLE>
    <link rel="stylesheet" href="./css_js/style.min.css">
    <script src="./css_js/jquery.min.js"></script>
    <script src="./css_js/main.js"></script>

    {% if script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            main(
                "{{ Conf.imgpath | e }}/",
                "{{ script.party | e }}",
            );
        });
    </script>
    {% endif %}

    {% block head %}{% endblock %}

    {% if battle_txt %}
        {{ battle_txt }}
    {% endif %}

</head>
<body>

    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>


    <div id="footer">
        <div id="f_box">
            <div id="f_t">MONSTER'S 改 {{ Conf.ver }}</div>
            <div><span>【改造】</span>おくた</div>
            <div><span>【ドット絵】</span><A href="http://wpdot.blog106.fc2.com/">wp～ドット絵倉庫～</A></div>
            <div><span>【ドット絵】</span><A href="https://www.pixiv.net/users/26734">chopper氏</A></div>
            <div><span>【ドット絵】</span><A href="http://deepmoon.sakura.ne.jp/icon/">DMF別館 アイコン素材屋</A></div>
            <div><span>【ドット絵】</span><A href="https://dfp2013.jimdofree.com/">Dragon Fake Project</A></div>
            <div><span>【作成・配布】</span><A href="http://park16.wakwak.com/~mikio-palace/">MIKIO-PALACE</A></div>
            <div>Copyright (C) 2002-2004：MIKIO</div>
        </div>
    </div>

</body>
</html>
