<!-- templates/base_tmp.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MONSTER'S 改 {{ Conf.ver }}</title>
    <link rel="stylesheet" href="./css_js/common.css">
    <link rel="stylesheet" href="./css_js/game.css">
    <link rel="stylesheet" href="./css_js/mobile.css">

    <script src="./css_js/main.js?20260504"></script>

    {% if flash_msg  %}
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          showToast({{ flash_msg | tojson }}, "{{ flash_type or 'error' }}");
              });
      </script>
    {% endif %}

    {% block head %}{% endblock %}

</head>
<body>

    {% include "ui_extra_tmp.html" %}

    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    {% if battle_txt %}
      {{ battle_txt }}
    {% endif %}


    {% include "footer_tmp.html" %}


</body>
</html>
