<!-- templates/battle_layout_tmp.html -->

{% extends "base_tmp.html" %}

{% block content %}

<!-- 1. エンカウント -->
{% if encount_data %}
{% with target=encount_data.target, tekis=encount_data.tekis %}
{% include "battle_encount_tmp.html" %}
{% endwith %}
{% endif %}

<!-- 2. 戦闘アクションログ -->
{% if action_logs %}
<div class="battle-log">
  {% for log in action_logs %}
  <div class="card log-card">

    <div class="log-card__actors">

      {% if log.text.is_enemy %}
      {% set ally = log.target %}
      {% set enemy = log.actor %}
      {% else %}
      {% set ally = log.actor %}
      {% set enemy = log.target %}
      {% endif %}

      <!-- 左：味方固定 -->
      {% if ally %}
      <div class="log-card__actor log-card__actor--ally">
        <div class="log-card__actor-img">
          <img src="{{ Conf.imgpath }}/{{ ally.name }}.gif" alt="{{ ally.name }}">
        </div>
        <div class="log-card__actor-stats">
          <div class="log-card__name log-card__name--ally">{{ ally.name }}</div>
          <div class="log-card__hpmp">HP: {{ ally.hp }}/{{ ally.mhp }}</div>
          <div class="log-card__hpmp">MP: {{ ally.mp }}/{{ ally.mmp }}</div>
        </div>
      </div>
      {% else %}
      <div class="log-card__actor log-card__actor--empty"></div>
      {% endif %}

      <!-- ターン数バッジ -->
      <div class="log-card__turn">
        <span class="log-card__turn-num">{{ log.turn }}</span>
        <span class="log-card__turn-unit">R</span>
      </div>

      <!-- 右：敵固定 -->
      {% if enemy %}
      <div class="log-card__actor log-card__actor--enemy">
        <div class="log-card__actor-img">
          <img src="{{ Conf.imgpath }}/{{ enemy.name }}.gif" alt="{{ enemy.name }}">
        </div>
        <div class="log-card__actor-stats">
          <div class="log-card__name log-card__name--enemy">{{ enemy.name }}</div>
          <div class="log-card__hpmp">HP: {{ enemy.hp }}/{{ enemy.mhp }}</div>
          <div class="log-card__hpmp">MP: {{ enemy.mp }}/{{ enemy.mmp }}</div>
        </div>
      </div>
      {% else %}
      <div class="log-card__actor log-card__actor--empty"></div>
      {% endif %}

    </div>

    <!-- テキストログ -->
    <div class="log-card__text">
      {% set event = log.text %}
      {% include "battle_log_text_tmp.html" %}
    </div>

  </div>
  {% endfor %}
</div>
{% endif %}

<!-- 3. リザルト -->
{% if system_logs %}
<div class="card result-log content-md">
  <div class="result-log__header">リザルト</div>
  <div class="result-log__body">
    {% for syslog in system_logs %}

    {% if syslog.type == "battle_end" %}
    <div class="result-msg result-msg--result">
      戦闘に<span class="red">{{ syslog.result }}</span><br>
      <span class="blue">{{ syslog.money }}</span>Gを得た。<br>
      それぞれ<span class="blue">{{ syslog.exp }}</span>ポイントの経験値を得た。
    </div>

    {% elif syslog.type == "lvup" %}
    <div class="result-msg result-msg--lvup">
      <div class="result-msg__title">レベルアップ！</div>
      <span class="blue">{{ syslog.name }}</span>は<span class="red">Lv{{ syslog.old_lv }}からLv{{ syslog.new_lv
        }}</span>になった！<br>
      {% if syslog.is_max %}
      <span class="red">成長の限界に達した。</span><br>年老いた為、力が激減した。
      {% else %}
      最大HPが <span class="blue">+{{ syslog.up_hp }}</span><br>
      最大MPが <span class="blue">+{{ syslog.up_mp }}</span><br>
      攻撃力が <span class="blue">+{{ syslog.up_atk }}</span><br>
      守備力が <span class="blue">+{{ syslog.up_def }}</span><br>
      素早さが <span class="blue">+{{ syslog.up_agi }}</span><br>
      {% endif %}
    </div>

    {% elif syslog.type == "key_get" %}
    <div class="result-msg result-msg--item">
      <span class="yellow">{{ syslog.item_name }}</span>を拾った！ラッキー♪
    </div>

    {% elif syslog.type == "isekai_limit" %}
    <div class="result-msg result-msg--item">
      {% if syslog.isekai_limit_next %}
      <span class="yellow">異世界をより深く探索できるようになった!</span>
      {% else %}
      <span class="yellow">異世界への扉の鍵をGetした!</span>
      {% endif %}
    </div>

    {% elif syslog.type == "isekai_key" %}
    <div class="result-msg result-msg--item">
      <span class="yellow">
        {% if syslog.is_limit %}探索限界に到達した。{% else %}次の階層の鍵を手に入れた。{% endif %}
      </span>
    </div>

    {% elif syslog.type == "medal_get" %}
    <div class="result-msg result-msg--item">
      <span class="yellow">メダルを{{ syslog.amount }}枚ゲットした！ラッキー♪</span>
    </div>

    {% elif syslog.type == "haisen" %}
    <div class="result-msg result-msg--bad">
      <span class="red">{{ syslog.item_name }}</span>を拾ってしまった！
    </div>

    {% elif syslog.type == "roomkey" %}
    <div class="result-msg result-msg--action">
      <div class="result-msg__prompt">どのKEYを取得しますか？</div>
      <form action="{{ Conf.cgi_url }}" method="post" class="form form--inline">
        <select name="get_key" class="form-control">
          {% for opt in syslog.options %}
          <option value="{{ opt }}">{{ opt }}の部屋の鍵</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn--sm">取得する</button>
        <input type="hidden" name="mode" value="roomkey_get">
        <input type="hidden" name="token" value="{{ token }}">
      </form>
    </div>

    {% elif syslog.type == "monget" %}
    <div class="result-msg result-msg--action">
      <div class="result-msg__img">
        <img src="{{ Conf.imgpath }}/{{ syslog.name }}.gif" alt="{{ syslog.name }}">
      </div>
      <div class="result-msg__prompt">
        <span class="red">{{ syslog.name }}</span>が仲間になりたがっています。<br>仲間にしますか？
      </div>
      <form action="{{ Conf.cgi_url }}" method="post">
        <button type="submit" class="btn">仲間にする</button>
        <input type="hidden" name="mode" value="m_get">
        <input type="hidden" name="token" value="{{ token }}">
      </form>
    </div>
    {% endif %}

    {% endfor %}
  </div>
</div>
{% endif %}

<!-- 4. 戦闘コマンド -->
{% if menu_data %}
{% set party = menu_data.party %}
{% set valid_enemies = menu_data.valid_enemies %}
{% set attack_skills = menu_data.attack_skills %}
{% set heal_skills = menu_data.heal_skills %}
{% set valid_party = menu_data.valid_party %}
{% set special_flag = menu_data.special_flag %}
{% include "battle_menu_tmp.html" %}
{% endif %}

<!-- 5. 終了ボタン -->
{% if is_end %}
<!-- styleを排除。マージンは .content-sm で自動保証 -->
<div class="layout-cluster content-sm">
  <form action="{{ Conf.cgi_url }}" method="post">
    <input type="hidden" name="mode" value="my_page">
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" class="btn btn--block">マイページへ戻る</button>
  </form>
</div>
{% endif %}

{% endblock %}
