<!-- templates/book_tmp.html -->

{% extends "base_tmp.html" %}

{% block content %}

<div id="result">
  <span>
    モンスターに本を読ませると性格が変わります。<br>
    現在の性格によっては変わらない場合もあります。<br>
    1冊{{ book_price }}G。
  </span>
</div>

<div id="books_mbox">
  {% for monster in monster_data %}
  <div class="books_mbox1">
    <div class="books_no">{{ monster.no }}</div>
    <div class="books_im">
      <img src="{{ monster.img }}">
    </div>
    <div class="books_m">
      {{ monster.name }}<br>
      -{{ monster.sex }}-<br>
      {{ monster.sei }}
    </div>
  </div>
  {% endfor %}
</div>

<form method="post" data-loading="本を読んでいます..." data-confirm="本を読ませますか？" >
  <div class="books_text3">モンスターを選択して下さい</div>
  <select name="Mno">
    {% for option in monster_options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>

  <div class="books_text3">本を選択して下さい</div>
  <select name="Bname">
  {% for b_name in book_options %}
    <option value="{{ b_name }}">{{ b_name }}</option>
  {% endfor %}
  </select>

  <br>
  <br>
  <button type="submit">本を読む</button>
  <input type="hidden" name="mode" value="book_read">
  <input type="hidden" name="token" value="{{ token }}">
</form>

{% include "my_page_button_tmp.html" %}

{% endblock %}
