<!-- templates/footer_tmp.html -->

<footer class="site-footer">
  <div class="footer-credits">
    <div class="credit-title">MONSTER'S 改 {{ Conf.ver }}</div>
    <div class="credit-row"><span class="credit-label">【改造】</span><span class="credit-value">おくた</span></div>
    <div class="credit-row"><span class="credit-label">【ドット絵】</span><span class="credit-value"><a
          href="http://wpdot.blog106.fc2.com/" target="_blank" rel="noopener">wp～ドット絵倉庫～</a></span></div>
    <div class="credit-row"><span class="credit-label">【ドット絵】</span><span class="credit-value"><a
          href="https://www.pixiv.net/users/26734" target="_blank" rel="noopener">chopper氏</a></span></div>
    <div class="credit-row"><span class="credit-label">【ドット絵】</span><span class="credit-value"><a
          href="http://deepmoon.sakura.ne.jp/icon/" target="_blank" rel="noopener">DMF別館 アイコン素材屋</a></span></div>
    <div class="credit-row"><span class="credit-label">【ドット絵】</span><span class="credit-value"><a
          href="https://dfp2013.jimdofree.com/" target="_blank" rel="noopener">Dragon Fake Project</a></span></div>
    <div class="credit-row"><span class="credit-label">【作成・配布】</span><span class="credit-value"><a
          href="http://park16.wakwak.com/~mikio-palace/" target="_blank" rel="noopener">MIKIO-PALACE</a></span></div>
    <div class="credit-copyright">Copyright (C) 2002-2004：MIKIO</div>
  </div>
</footer>
