<!-- templates/haigou_list_tmp.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MONSTER'S 配合表</title>
    <link rel="stylesheet" href="../css_js/html_style.css">
</head>
<body>
    <div class="wrapper">
        <div class="haigou_title" id="top">
            MONSTER'S 改 {{ Conf.ver }}<br>
            配合表・出現階数
        </div>

        <!-- 右メニュー -->
        <div id="haigou_rightmenu">
            [<a href="#top">一番上へ</a>]
                {% for link in links %}
                    <br>[<a href="#{{ link.id }}">{{ link.label }}</a>]
                {% endfor %}
            <br>
            <form action="{{ Conf.top_url }}" method="post">
                <input type="hidden" name="mode" value="">
                <button type="submit">TOPへ</button>
            </form>
        </div>

        <div class="haigou_menu">
            {% for m_type, monsters in filtered_M_list.items() %}
                <table class="haigou_box" id="{{ m_type }}">
                    <thead>
                        <tr>
                            <th class="menu_title_1">NO</th>
                            <th class="menu_title_2">{{ m_type }}</th>
                            <th class="menu_title_3">ベース</th>
                            <th class="menu_title_4">材　料</th>
                            <th class="menu_title_5">出現階数</th>
                            <th class="menu_title_1">戦闘入手</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in monsters %}
                        <tr>
                            <td class="haigou_menu_1">{{ m.no }}</td>
                            <td class="haigou_menu_2">{{ m.name }}</td>
                            <td class="haigou_menu_3">
                              {% for b in m.blood %}
                              <span class="haigou_menu_3B">{{ b }}</span>
                              {% endfor %}
                            </td>
                            <td class="haigou_menu_4">
                              {% for mate in m.mate %}
                              <span class="haigou_menu_4B">{{ mate }}</span>
                              {% endfor %}
                            </td>
                            <td class="haigou_menu_5">{{ m.floor }}</td>
                            <td class="haigou_menu_1">{{ m.get_text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>

        {% include "footer_tmp.html" %}
    </div>
</body>

</html>
