        <div class="my_page_menu1">施設色々</div>
        <div class="my_page_menu2"><span id="link_msg">説明がここに。</span></div>
        <div class="my_page_menu3">【お店へ】<br>
            {% if omiai_status == "baby" %}
            <img src="{{ Conf.imgpath }}/omiai_baby.png">
            {% elif omiai_status == "request" %}
            <img src="{{ Conf.imgpath }}/omiai_irai.png">
            {% endif %}
        </div>
        <div class="my_page_menu4">
            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'モンスターに本を読ませて性格を変更させる事が出来ます。'">
                    <button type="submit">本屋に入室</button>
                    <input type="hidden" name="mode" value="books">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'ｺﾞｰﾙﾄﾞを支払ってHP･MPを完全に回復させます。'">
                    <button type="submit">宿屋({{ yadoya_cost_v }}G)</button>
                    <input type="hidden" name="mode" value="yadoya">
                    <input type="hidden" name="yadodai" value="{{ yadoya_cost }}">
                    <input type="hidden" name="money" value="{{ user.money }}">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'ｺﾞｰﾙﾄﾞを支払って死亡したモンスターを復活させます。'">
                    <button type="submit">教会({{ kyoukai_cost_v }}G)</button>
                    <input type="hidden" name="mode" value="kyoukai">
                    <input type="hidden" name="kyoukaidai" value="{{ kyoukai_cost }}">
                    <input type="hidden" name="money" value="{{ user.money }}">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'メダルやGを使いモンスター等を交換できます。'">
                    <button type="submit">交換所</button>
                    <input type="hidden" name="mode" value="medal_shop">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'モンスターを預けることが出来ます'">
                    <button type="submit" {{park_get}}>モンスターパーク</button>
                    <input type="hidden" name="mode" value="park">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'モンスターを購入できます'">
                    <button type="submit">VIP交換所1</button>
                    <input type="hidden" name="mode" value="v_shop">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'アイテム等を購入できます'">
                    <button type="submit">VIP交換所2</button>
                    <input type="hidden" name="mode" value="v_shop2">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = '他のユーザーとお見合いができます'">
                    <button type="submit">お見合い所</button>
                    <input type="hidden" name="mode" value="omiai_room">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>

            <form action="{{ Conf.cgi_url }}" method="post" class="form">
                <span data-msg = 'ユーザー名を変更できます'">
                    <button type="submit">ユーザー名変更所</button>
                    <input type="hidden" name="mode" value="name_change">
                    <input type="hidden" name="token" value="{{ token }}">
                </span>
            </form>
        </div>
