{% extends "base_tmp.html" %}

{% block head %}
    <script src="./css_js/my_page.js"></script>
    <script src="./css_js/loardbbs.js"></script>
    <script src="./css_js/CountDown.js"></script>
    <script src="./css_js/img_change.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            main(
                "{{ Conf.imgpath | e }}/",
                "{{ script.party | e }}",
            );
        });
    </script>
{% endblock %}



{% block content %}

    <div class="my_page_topmenu">
        [ <a href="{{ Conf.top_url }}">TOPへ</a> ]
        [ <a href="./html/manual.html" target="_blank" rel="noopener">ぷれいまにゅある</a> ]
        [ <a href="./html/haigou_list.html" target="_blank" rel="noopener">配合表</a> ]
        [ <a href="./html/haigou_list2.html" target="_blank" rel="noopener">配合表2</a> ]
        [ <a href="{{ Conf.homepage }}">{{ Conf.home_title }}</a> ]
    </div>

    {% if Conf.event_boost %}
    <div class="event_txt">!!現在ブースト期間中!!</div>
    {% endif %}

    {% include "my_page_myparty_tmp.html" %}

    {% if my_page_flg %}

    <!-- 鍵の一覧 -->
    <div class="my_page_keylist">
        <a href="#" class="toggle-menu" data-show="u2" data-hide="u3">▼取得系統の鍵一覧▼</a>
        <div id="u2">
            {%- for item in room_key_display -%}
            <div class="my_page_list_item">{{ item.name | escape if item.has_key else "なし" }}の鍵</div>
            {%- endfor -%}
        </div>
    </div>

    <!-- 技の一覧 -->
    <div class="my_page_keylist">
        <a href="#" class="toggle-menu" data-show="u3" data-hide="u2">▼取得特技一覧▼</a>
        <div id="u3">
            {%- for item in waza_display -%}
            <div class="my_page_list_item">{{ item.name | escape }}</div>
            {%- endfor -%}
        </div>
    </div>

    <form action="{{ Conf.cgi_url }}" method="post" class="form">
        <input class="input" size="40" type="text" name="message" value="{{ user.mes | escape }}">
        <input type="hidden" name="mode" value="comment">
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit">コメント変更</button>
    </form>
    <br>

    <div id="bbs"></div>

    <div id="b_count_txt" hidden>{{ next_t | escape }}</div>
    <div id="b_count"></div>

    <div class="my_page_menu_box">
        {% include "my_page_battleselect_tmp.html" %}

        {% include "my_page_shoplist_tmp.html" %}

        {% include "my_page_exlist_tmp.html" %}
    </div>
    {% include "my_page_button_tmp.html" %}

    {% else %}
    <form action="{{ Conf.top_url }}" method="post">
        <button type="submit">TOPへ</button>
    </form>
    {% endif %}

{% endblock %}
