
<!-- templates/my_page_myparty.html -->

    <div class="my_page_title">{{ user.name }}さんのパーティー</div>
    <div class="my_page_box">
        <div class="my_page_user_st1">所持金<br>{{ user_v.money }}G</div>
        <div class="my_page_user_st1">所持鍵<br>{{ user_v.key }}階</div>
        <div class="my_page_user_st1 {{ isekai }}">
            異世界探索度<br>{{ user.get("isekai_key",0)-1 }}/{{ user.get("isekai_limit",0) }}/{{ Conf.isekai_max_limit }}</div>
        <div class="my_page_user_st1">メダル<br>{{ user_v.medal }}個</div>
        <div class="my_page_user_st1 my_page_zukan">
            <a href="{{ Conf.cgi_url }}?mode=zukan&name={{ in_name | urlencode }}&type=スライム系">[魔物図鑑]</a>
            <br>{{ user.getm }}
        </div>
    </div>

    <form action="{{ Conf.cgi_url }}" method="post" class="form">
        <div class="my_page_pt">
            {% for i, pt in party_with_index %}
            <div class="my_page_chara_{{ i }}">
                <div class="my_page_st_1">
                    <select name="c_no{{ i }}">
                        <option value="{{ i }}" hidden>{{ i }}</option>
                        {% for n in option_list %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my_page_st_2"><img src="{{ Conf.imgpath }}/{{ pt.name }}.gif">{{ pt.name }}<br>-{{
                    pt.sex }}-<br>{{ pt.sei }}</div>
                <div class="my_page_charabox">
                    <div class="my_page_st_3">
                        <div class="my_page_st_title">LV<span>/最大LV</span></div>
                        <div class="my_page_st_val">{{ pt.lv }}<span>/{{ pt.mlv }}</span></div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">HP<span>/最大HP</span></div>
                        <div class="my_page_st_val">{{ pt.hp }}<span>/{{ pt.mhp }}</span></div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">MP<span>/最大MP</span></div>
                        <div class="my_page_st_val">{{ pt.mp }}<span>/{{ pt.mmp }}</span></div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">経験値<span>/次のLvまで</span></div>
                        <div class="my_page_st_val">{{ pt.exp }}<span>/{{ pt.n_exp }}</span></div>
                    </div>
                    <div class="my_page_st_3">
                        <div class="my_page_st_title">配合</div>
                        <div class="my_page_st_val">{{ pt.hai }}回</div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">攻撃力</div>
                        <div class="my_page_st_val">{{ pt.atk }}</div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">守備力</div>
                        <div class="my_page_st_val">{{ pt.def }}</div>
                    </div>
                    <div class="my_page_st_4">
                        <div class="my_page_st_title">素早さ</div>
                        <div class="my_page_st_val">{{ pt.agi }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if my_page_flg %}
        <div class="my_page_title">
            <button type="submit">並び替えOK</button>
            <input type="hidden" name="mode" value="change">
            <input type="hidden" name="token" value="{{ token }}">
            No.1からNo.3迄のモンスターが戦闘を行います
        </div>
        {% endif %}
    </form>
