{% extends "base_tmp.html" %}

{% block head %}
<script id="shop-items-json" type="application/json">
{{ SHOP_ITEMS | tojson }}
</script>
<script id="shop-config-json" type="application/json">
{{ SHOP_CONFIG | tojson }}
</script>
<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
<script src="./css_js/call_Phantomwallet.js?0319"></script>
<script src="./css_js/form_check.js?0319"></script>
{% endblock %}

{% block content %}
<div id="wallet_status_box" style="display:none;"></div>
<div id="wallet_toast" style="display:none;"></div>

<div id="result">
  <span>購入アイテムを選択してください。<br>
    暗号資産による決済になります。<br><span><a href="./html/manual.html#課金" target="_blank">注意事項</a></span>を確認の上、自己責任でお願いします。<br>
    アイテムは<span>{{ user_name }}</span>さんに付与されます。<br>
    もし違うプレイヤー名が表示されているなら<br>トップからやり直してみてください。
  </span>
</div>

<form action="" id="form_check" method="post" onsubmit="return false;">
  <input type="hidden" id="cgi_url" value="{{ Conf.cgi_url }}">
  <input type="hidden" id="page_token" value="{{ token }}">
  <input type="hidden" id="user_name" value="{{ user_name }}">

  <div class="medal_box">
    {% for item_id, item in vips3.items() %}
    <label class="medal_box1 vips_item_label">
      <input type="radio" name="buy_item" value="{{ item_id }}" class="vips_item_radio" {% if loop.first %}checked{%
        endif %}>
      <div class="medal_name">{{ item.name.replace("(", "<br>(") | safe }}</div>
      <div class="medal_val">{{ item.price }} VIPS</div>
    </label>
    {% endfor %}
  </div>

  <div class="vips_buy_action">
    <button type="button" data-once-click onclick="buySelectedItem()">選択したアイテムを購入</button>
  </div>
</form>

{% include "my_page_button_tmp.html" %}
{% endblock %}
