
<div class="t_txt">
    2025/5/29～2025/06/02の間に行われたイベントの結果です<br>
</div>

<div class="manual_frame">

		<div class="manual_inframe">
			<div>
				<b class="manual_h">■開催期間</b>
				<br>●2025/5/29の20時頃から6/2の0時終了
			</div>

            <div>
				<b class="manual_h">■イベント内容</b>
				<br>下記のミッション達成を目指す
				<br>●ダークドレアム製作1番乗り 報酬：ダークドレアム +300
				<br>●魔法少女5人を集め1番乗り 報酬：次回実装予定魔法少女（通常）２種プレゼント
                <br>●ランキング上位(到達階層) 報酬：好きなモンスター +10  プレゼント 1位2体 2位、3位 1体
                <br>●<span class="manual_red">※お見合い限定及びキャラクター系は選択対象外とさせていただきます※</span>
                <br>●図鑑登録 100種達成毎に スライム +100 プレゼント
			</div>

            <div>
                <b class="manual_h">■ミッション達成者</b>
                <br>●ダークドレアム製作1番乗り: Lotus
                <br>●魔法少女5人を集め1番乗り:  うぃのな
            </div>

		</div>

	</div>
